/.idea/.gitignore
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/fraction-from-habib.iml
/.idea/jarRepositories.xml
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_12_10.xml
/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_2.xml
/.idea/libraries/Maven__org_assertj_assertj_core_3_23_1.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_9_1.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_9_1.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_9_1.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_9_1.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_9_1.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_9_1.xml
/.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
